header #nav ul li ul.sub-menu{
    min-width:150%;
    background:#6184db;
    display:none;
    position:absolute;
    z-index:999;
    left:0
}
header #nav ul li ul.sub-menu li{
    display:block
}
header #nav ul li ul.sub-menu li a{
    display:block;
    color:#fff;
    text-decoration:none
}
header #nav ul li ul.sub-menu li a:hover{
    color:#fff;
    background:#3764d2;
    -webkit-transition:all .2s ease-in;-moz-transition:all .2s ease-in;-o-transition:all .2s ease-in;transition:all .2s ease-in
}
header #nav ul li:hover ul.sub-menu{
    display:block
}